{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="my-1 text-center">
        <div class="{{ pag.estilo_de_contenido }}">{{ markdown(pag.contenido) }}</div>
    </div>

    <div>
        <ul class="lista-bb p-0">
            {% for item in pag.lista_bb %}
            {% set i = loop.index %}
            <li class="list-group my-3 py-2">
                {% if item.text %}
                <div class="small mt-4 px-2 rounded-1">
                    <div class="d-flex">
                        <div class="text-secondary px-2" id="i{{ i }}"><a href="#i{{ i }}" class="link">{{ i }}</a>. </div>
                        <div class="col">{{ markdown((item.text)) }}</div>
                    </div>
                </div>
                {% endif %}

                {% if item.code %}

                <div class="d-grid gap-2 codigos">
                    {% for code in item.code %}
                    {% set j = loop.index %}

                    <div class="d-flex">
                        <small class="p-2 text-secondary" id="i{{ i }}-{{ j }}"><a href="#i{{ i }}-{{ j }}" class="link">{{ i }}.{{ j }}</a>. </small>
                        <code class="d-block p-2 text-light col copiar "
                              contenteditable="true" spellcheck="false"
                              title="Click para COPIAR y ACTIVAR">{{ code[0] }}</code>
                        <input class="text-center rounded-2 col-1 bg-dark text-secondary mx-1 border-0"
                               type="number" min="0" name="rate" value="{{ code[1] }}" title="Sample Rate">
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </li>
            {% endfor %}

            {% if pag.lista_bb | count %}
            <div class="utiles">
                <nav class="d-grid gap-1">
                    <button class="btn btn-sm btn-secondary" name="play-pause" title="Audio: Play Pause">P</button>
                    <a class="btn btn-sm btn-secondary external-app"
                       href="#"
                       name="open-tb"
                       data-site="{{ cfg.reproductores.touchtbit[0] }}"
                       target="_tbit" title="Abrir en {{ cfg.reproductores.touchtbit[1] }}">

                        {{ cfg.reproductores.touchtbit[2] }}</a>
                    <a class="btn btn-sm btn-secondary external-app"
                       href="#"
                       name="open-h5bb"
                       data-site="{{ cfg.reproductores.html5bytebeat[0] }}"
                       target="_h5bb" title="Abrir en {{ cfg.reproductores.html5bytebeat[1] }}">
                        {{ cfg.reproductores.html5bytebeat[2] }}</a>
                </nav>
            </div>

            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
