* {
    font-family: 'FiraCode', monospace;
    word-break: break-word;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
    min-height: 100svh;
}

body {
    min-height: 100vh;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #111;
    color: #bbb;

    &.bloqueado {
        overflow: hidden;
    }
}

.contenido {
    padding-bottom: 100px;
}

.lista-bb {
    color: #eee;
    .codigos {
        input[type=number] {
            width: 100px;
            border: none;
        }
        code {
            color: #8f4;
            background: #222;
            border-radius: 8px;
            cursor: pointer;
            border: 1px transparent;

            &:focus {
                border-color: #aaa;
            }
            &:hover {
                background: #000;
                transition: all 0.5s;
            }
        }
    }
}

.copiado::before {
    content: '¡ COPIADO !  ';
    font-weight: 900;
    color: #5a1;
    transition: all 0.1;
}


.utiles {
    position: fixed;
    right: 0;
    top: 50%;
    width: 40px;
    text-align: right;

    nav {
        position: absolute;
        top: -80px!important;
        right: 0;
        background: rgba(0, 0, 0, 0.2);
        padding: 6px 6px;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        transition: all 0.1s;

        &:hover {
            background: rgba(0, 0, 0, 1);
        }
    }

    * {
        display: inline-block;
    }
}

footer {
    margin-top: auto;
    padding: 20px;
    background: #000;
    p {
        color: #666;
    }
}


@import url("responsive.less");
